* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 50px;
  background-color: black;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
  margin: 0 auto;
  color: blueviolet;
}
h2 {
  color: white;
  margin-bottom: 30px;
  margin: 0 auto;
}
.container_1 {
  width: 30%;
  margin: 20px auto;
  padding: 20px 20px;
  border: 10px solid rgb(122, 28, 28);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-group {
  padding: 40px;
}
input {
  text-align: center;
}
input:focus::placeholder {
  color: transparent;
}
/* turn off arrow Moz */
input[type="number"] {
  -moz-appearance: textfield;
}
/* for chrome,safari,edge,opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-group button {
  margin-top: 20px;
}
.container_1 p {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}
.container_6_1 {
  width: 30%;
  height: 100px;
  margin: 20px auto;
  padding: 20px 20px;
  border: 10px solid rgb(122, 28, 28);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container_6_1 {
  width: 30%;
  height: 600px;
  margin: 20px auto;
  padding: 20px 20px;
  border: 10px solid rgb(122, 28, 28);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container_6_1 button {
  margin-bottom: 20px;
}
